<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <img src="assets/ps-logo.png" height="32px" width="152px" alt="playstation logo marca">
    </div>
    <div class="menu-bar_item">
        <ul>
            <li><a href="https://linkedin.com/in/gleidson-morais-silva-8676aa42" target="_blank">Linkedin</a></li>
            <li><span>•</span></li>
            <li><a href="https://github.com/thegleidstones" target="_blank">Github</a></li>
            <li><span>•</span></li>
            <li><a href="https://youtube.com/@gleidsonmoraissilva3621" target="_blank">Youtube</a></li>
        </ul>
    </div>
</div>